<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DefaultConnection" value="server= 172.32.44.3; database=HRM_Dev; uid=sa; Password=Tts@123;MultipleActiveResultSets=true;" />

    <add key="ErrorLogPath" value="D:\ForeignProjects\HRM_Backend_V1.0\EmailReader_WinSvc\ErrorLog" />

    <add key="ExecutionInterval_OutLookEmail" value="2" />

    <add key="HRM_OutlookEmailURL" value="https://localhost:44350/api/OutgoingMailExceptionHandling/MainFlow1" />

  </appSettings>

</configuration>