// Here you can add other styles
.ant-tree
{
  background: transparent;
    .ant-tree-treenode
    {
        .ant-tree-node-content-wrapper
        {
            .ant-tree-title
            {
                color: #fff;
            }
        }
    }
}
.ant-tree-node-selected
{
  background-color: red !important;
}
#dob{
  padding: 0.375rem 0.75rem;
  width: 66%;
  background-color: var(--cui-body-bg);
  border: var(--cui-border-width) solid var(--cui-border-color);
  border-radius: var(--cui-border-radius);
}